* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #74b9ff, #0984e3);
}

.card {
   width: 280;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  animation: fadeIn 1s ease-in-out;
}

.login-card {
width: 280px;
  text-align: center;
  margin-bottom: 20px;
}



form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #636e72;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #dcdde1;
  border-radius: 5px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #74b9ff;
  box-shadow: 0 0 5px rgba(116, 185, 255, 0.5);
}

button {
  padding: 10px;
  background-color: #0984e3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #74b9ff;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}